{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
    <h2>Contact</h2>
    <ul>
        <li>Email: <a href="mailto:piyushvyass345@gmail.com">piyushvyass345@gmail.com</a></li>
        <li>Telegram: <a href="https://t.me/science_college_sikar" target="_blank">Join Telegram Channel</a></li>
        <li>WhatsApp Channel: <a href="https://whatsapp.com/channel/0029Vabq5HHCxoAuorSPOF0Z" target="_blank">Join WhatsApp Channel</a></li>
        <li>Instagram: <a href="https://instagram.com/piyush_vyass_pareek?igshid=YmMyMTA2M2Y=" target="_blank">@piyush_vyass_pareek</a></li>
    </ul>
{% endblock %}
